.main-content {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #33ccff, #29bff2, #1fb2e6, #12a5d9, #0099cc);
}

.main-content {
	text-align: center;
	/* background-image: url(../img/.main-content-bg.png); */
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 11% 0px 4% 0px;
	background-color: #3CF;
}

.main-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-content ul li {
	display: inline-block;
	margin: 0 10px;
}

.main-content ul li a {
	font-size: 16px;
	/* color: #415b90; */
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	/* background-color: #fff; */
	border-radius: 50%;
}

.main-content ul li a:hover {
	background-color: #22304d;
	color: #415b90;
	transition: all 0.3s;
}

.main-content p {
	margin-top: 20px;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.2px;
	color: #fff;
}

.main-content em {
	font-style: normal;
	font-weight: 600;
}

.main-content a {
	color: #fff;
}

.main-content a:hover {
	color: #3CF;
}